:host {
  display: block;
}


.slider {
  width: 100vw;
}

swiper-container {
  height: 100%;
}

swiper-slide{
  cursor: pointer;
}

.container {
  width: 100%;
  overflow: hidden;
  height: 300px;

}