<section class="banner animated">
	<div class="container">
		<h4 class="heading-2">KAROL WIL3NSKI</h4>
		<h1 class="heading-1">Witaj przybyszu</h1>
		<p class="text-28">
			Jestem programistą z pasją do tworzenia wyjątkowych rozwiązań. Od frontendu po backend, potrafię przekształcić
			twoje pomysły w rzeczywistość. Specjalizuję się w Angularze, Node.js, a także najnowszych technologiach webowych.
			Zapraszam do zapoznania się z moimi projektami!
		</p>
		<div class="buttons">
			<app-button class="secondary" text="ZOBACZ PROJEKTY" />
			<app-button text="SKONTAKTUJ SIĘ" />
		</div>
	</div>
</section>