<div class="home">
	<!-- <div class="actions"> -->
	<!-- 	<app-button class="primary" text="1 effect" (clicked)="background.activateDynamicEffect()"></app-button> -->
	<!-- 	<app-button class="primary" text="2 effect" (clicked)="background.activateWaterEffect()"></app-button> -->
	<!-- 	<app-button class="primary" text="3 effect" (clicked)="background.activateOtherEffect()"></app-button> -->
	<!-- 	<app-button class="secondary" text="about" [routerLink]="'about'"></app-button> -->
	<!-- 	<app-button class="secondary" text="tensor" [routerLink]="'tensor'"></app-button> -->
	<!-- </div> -->
	<app-banner />
	<app-slider />
	<app-info />
</div>
